body {font-family: arial,sans-serif; background-color: Gainsboro;}
table {background-color: #fff; }
.red {
  background-color: red;
}
.white {
  background-color: white;
}
.bleu {
  background-color: blue;
}
.test {font-family: georgia,serif; font-size: 18px;}
.emphas {font-size: 28px; color: red;}
.bg_color1 {background-color: #00ffff;}
.bg_color2 {background-color: #ffff00;}
.bd1px {border: 1px solid green;}
