body {
  font-family: arial,sans-serif; }

.test {
  font-family: georgia,serif;
  font-size: 18px; }

.emphas {
  font-size: 28px;
  color: red; }

.color1 {
  color: #333; }

.bg_color1 {
  background-color: pink; }

.bg_color2 {
  background-color: #ffff00; }

.bd1px {
  border: 1px solid green; }
