td colspan="2"
  table.bd1px border="1"
    tr
      td
        span.emphas cette partie est _content.slim !
    tr
      td.bg_color2
        ol
          li.test TODO > installer gulp-premailer
          li TODO > gestion des erreurs > si erreur voir ds console mais sans arreter le serveur.