body {
  font-family: arial,sans-serif;
  background-color: #ddd; }

table {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }

table table {
  box-shadow: none; }

table td table {
  border: 1px solid gray; }

table table td {
  padding: 5px;
  /* transform: rotate(-5deg)*/ }

.test {
  font-family: georgia,serif;
  font-size: 18px; }

.emphas {
  font-size: 28px;
  color: blue; }

.emphas2 {
  font-size: 16px;
  color: #ff00ff; }

.bg_color1 {
  background-color: #00ffff; }

.bg_color2 {
  background-color: #ffff00; }

.bd1px {
  border: 1px solid green; }

.bleu {
  background-color: blue; }

.white {
  background-color: #fff; }

.red {
  background-color: red; }
