body {font-family: arial,sans-serif;}
.test {font-family: georgia,serif; font-size: 18px;}
.emphas {font-size: 28px; color: blue;}
.emphas2 {font-size: 16px; color: #ff00ff;}
.bg_color1 {background-color: #00ffff;}
.bg_color2 {background-color: #ffff00;}
.bd1px {border: 1px solid green;}
.bleu {background-color: blue;}
.white {background-color: #fff;}
.red {background-color: red;}